<div class="list-wrapper">
    <ul class="card__list">
        <li class="card__item" [ngClass]="{'card__item--red': !!race?.champion, 'card__item--blue': !race?.champion}" *ngFor="let race of raceList">
			<div class="card__info">
				<div class="info-player">
					<p class="info-player__num"><span>POINTS</span><br />{{race?.points}}</p>
					<p class="info-player__name"><small>{{race?.givenName}}</small><br>{{race?.familyName}}</p>
				</div>
				<div class="info-place">{{race?.raceLocation}}</div>
			</div>
		</li>
	</ul>
</div>