@import '../../utilities/colors';
@import '../../utilities/shadow';

:host {
    * {
        box-sizing: border-box
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .list-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: scroll;

        .card {
        
            &__list {
                padding: 0;
                background-color: $grey_1;
            }
            
            &__item {
                padding: $space*1.5 $space;
                border-top: 4px solid $grey;
                box-shadow: 0 1px 3px rgba($black,.12), 0 1px 2px rgba($black,0.24);
                background: $white;
                transition: $ease;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
    
                &:not(:last-child) {
                    margin: 0 0 $space / 2;
                }
    
                .info-place {
                    sup {
                        font-size: 10px;
                    }
                }
                p.info-player__num {
                    padding: 0;
                    line-height: 1;
                    span {
                        font-size: 10px;
                        padding: 0;
                    line-height: 1;
                    }
                }
    
                &--red{
                    border-top-color: $red;
                    background: linear-gradient(to bottom, $yellow 80%, $red 100%);
                    .info-player__num {
                        transform: scale(1.1);
                    }
                    p.info-player__num {
                        background: $red;
                        text-shadow: longshadow(darken($red, 15%),$red,20, 0.7);
                    }
                    
                    .info-player__name,
                    .info-place {
                        color: $red;
                    }
                }
                
                &--blue {
                    border-top-color: $blue;
                    p.info-player__num { 
                        background: $blue;
                        text-shadow: longshadow(darken($blue, 15%),$blue,20, 0.7);
                    }
                }
            }
            
            &__info {
                display: flex;
                justify-content: space-between;
                
                .info-player {
                    display: flex;
                    align-items: center;
                    
                    &__num {
                        width: 60px;
                        height: 60px;
                        line-height: 36px;
                        padding: $space / 2;
                        margin: 0 $space / 2 0 0;
                        text-align: center;
                        background: $grey_3;
                        border-radius: 50%;
                        font-size: 25px;
                        color: $white;
                        overflow: hidden;
                        transition: $ease;
                    }
                    
                    &__name {
                        line-height: 1.1;
                        font-size: 20px;
                        margin: 0;
                        
                        small {
                            font-size: 14px;
                        }
                    }
                }
                
                .info-place {
                    margin: 0;
                    font-size: 24px;
                    @media screen and (max-width: 680px) {
                        align-self: flex-end;
                    }
                }
                @media screen and (min-width: 681px) {
                    align-items: center;
                }
                @media screen and (max-width: 680px) {
                    flex-direction: column;
                }
            }
        }
    }
}