/* I'm using css variables to update
the theme colors for the entire app*/
$space: 1.5rem;
$black: #000;
$white: #fff;
$silver: silver;
$grey: lighten(black, 25);
$grey_1: #333;
$grey_2: #777;
$grey_3: #888;
$red: #ff0000;
$blue: #5171C3;
$orange: #DE660F;
$green: #2EA83B;
$yellow: yellow;

$ease: all .5s cubic-bezier(0.23, 1, 0.32, 1);