/* I'm using this css method to set the cool text-shadow
on some sections like the points on the list */
@function longshadow($color_a,$color_b,$stepnum, $opacity: 1) {
    $gradient_steps: null;
    @for $i from 1 through $stepnum {
        $weight: ( ( $i - 1 ) / $stepnum ) * 100;
        $colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);
        $seperator: null;
        @if($i != $stepnum){ 
            $seperator: #{','}; 
        }
        $gradient_steps: append( #{$gradient_steps}, #{$i}px #{$i}px $colour_mix $seperator );
    }
    @return $gradient_steps;
}