
@font-face {
    font-family: 'Formula1-Regular';
    src: url("assets/F1-Font/Formula1-Regular.otf") format("opentype");
}
* {
    font-family: 'Formula1-Regular', 'arial', sans-serif;
  }
body {
    max-width: 1100px;
    margin: auto;
    background-color: #333;
    @media screen and (max-width: 1130px) {
        margin: 20px;
    }
}
