@import '../../utilities/colors';
@import '../../utilities/shadow';

:host {
  .list-wrapper {
    display: block;
    position: relative;
    background-color: $grey_1;
    width: 100%;
    height: 100%;
    .loader {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 1;
      h1 {
        margin-top: 40px;
        color: $red;
        text-shadow: longshadow(darken($red, 20%),$yellow,5, 0.7);
      }
    }
    
    .card-expander {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out;
      margin-bottom: 50px;
    }
  }
}

