<div class="list-wrapper">
  <div class="loader" *ngIf="!!loading">
    <h1>Loading...</h1>
  </div>
  <div #card_expander class="card-expander">
    <app-list [raceList]="raceList"></app-list>
  </div>
</div>