@import '../../utilities/colors';
@import '../../utilities/shadow';

:host {
    

    .menu-wrapper {
        background-color: $grey_1;
        padding: 20px 0;
        position: relative;
        .car {
            width: 300px;
            position: absolute;
            top: -20px;
            right: 0;
            @media screen and (max-width: 680px) {
                display: none;
            }
        }
        .track {
            width: 400px;
            position: absolute;
            right: 0;
            top: -20px;
            transform: translate(0%, -16%) rotateY(180deg) rotate(11deg);
        }
        .top-wrapper {
            display: flex;
            overflow: hidden;
            .season {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 150px;
                min-width: 150px;
                min-height: 150px;
                background: $red;
                background: linear-gradient(40deg, $red 0%, $red 35%, $yellow 100%);
                border-radius: 50%;
                border-top-right-radius: 20%;
                margin-right: 30px;
                margin-bottom: 20px;
                .season-inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-width: 140px;
                    min-height: 140px;
                    background-color: $red;
                    border-radius: 50%;
                    border-top-right-radius: 20%;
                    h1, h3 {
                        margin: 0;
                    }
                    h1 {
                        margin: 0;
                        color: $white;
                        text-shadow: longshadow(darken($red, 15%),$red,20, 0.7);
                    }
                    h3 {
                        margin: 0;
                        text-shadow: longshadow(darken($red, 15%),$red,10, 0.7);
                    }
                }
                @media screen and (max-width: 572px) {
                    width: 80px;
                    height: 80px;
                    min-width: 80px;
                    min-height: 80px;
                    .season-inner {
                        min-width: 70px;
                        min-height: 70px;
                        h1 {
                            font-size: 18px;
                            text-shadow: longshadow(darken($red, 15%),$red,10, 0.7);
                        }
                        h3 {
                            font-size: 10px;
                            text-shadow: longshadow(darken($red, 15%),$red,5, 0.7);
                        }
                    }
                }
            }
            .content-group {
                display: flex;
                flex-direction: column;
                overflow-x: auto;
                .header {
                    display: flex;
                    align-items: center;
                    flex: 3;
                    @media screen and (max-width: 991px) {
                        flex-direction: column;
                        align-items: start;
                    }
                    img {
                        width: 200px;
                        height: auto;
                        margin-right: 20px;
                        @media screen and (max-width: 572px) {
                            width: 100px;
                        }
                    }
                    h1 {
                        color: $white;
                        font-size: 45px;
                        text-shadow: longshadow(darken($red, 15%),$red,5, 0.7);
                        @media screen and (max-width: 991px) {
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .bottom-wrapper {
            overflow: hidden;
            .nav-list {
                background-color: $grey_1;
                overflow: auto;
                white-space: nowrap;
                a {
                    display: inline-block;
                    color: $white;
                    text-align: center;
                    padding: 14px;
                    text-decoration: none;
                    &:hover {
                        background-color: $grey_2;
                        border-radius: 10px;
                    }
                    &.active {
                        background-color: $grey_3;
                        border-radius: 10px;
                        color: $yellow;
                        text-shadow: longshadow(darken($red, 15%),$black,4, 0.7);
                    }
                }
            }
        }
    }
}