<div class="menu-wrapper">

    <img class="car" src="../../../assets/f1-trans.png" />
    
    <div class="top-wrapper">
        <div class="season">
            <div class="season-inner">
                <h1>{{year}}</h1>
                <h3>SEASON</h3>
            </div>
        </div>
        <div class="content-group">
            <div class="header">
                <img src="assets/f1-logo.png">
                <h1>WINNERS</h1>
            </div>
        </div>
    </div>
    
    <div class="bottom-wrapper">
        <div class="nav-list">
            <a [routerLink]="['/world-championships', yearItem]" [class.active]="year === yearItem" *ngFor="let yearItem of yearList">{{yearItem}}</a>
        </div>
    </div>
</div>